h1 {
    font-size: 40px;
    font-weight: 200;
}

span {
    color: dodgerblue;
}

.SearchText {
    border-radius: 10px 0px 0px 10px;
    width: 300px;
}

.searchIcon {
    border-radius: 0px 10px 10px 0px;
    margin-left: 0%;
}

.secondnav {
    background-color: rgb(240, 240, 240);
    text-decoration: none;
    margin-bottom: 20px;
    /* height: auto; */
    /* width: 100%; */
}

.secondnavA {
    text-decoration: black;
}

.subsrciber {
    color: green;
}

.topic {
    color: rgb(254, 32, 32);
}

a {
    text-decoration: none;
    color: black;
}

.secondNav1 {
    float: right;
    padding: 10px;
}

.searchBox {
    background-color: #2F4F4F;
    color: white;
    border-radius: 12px;
}

.column1 {
    float: left;
    width: 17%;
    height: 580px;
    background-color: rgb(240, 240, 240);
    margin: 10px;
}

.column2 {
    float: left;
    width: 60%;
    height: auto;
    /* background-color: rgb(240, 240, 240); */
    margin: 10px;
}

.Entries {
    float: left;
    padding: 15px;
    font-size: 30px;
}

.allSubscribe {
    padding: 20px;
    /* margin: 200px; */
}

.AllEnS {
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(240, 240, 240);
}

.boxButton {
    border-radius: 10px 10px 0px 0px;
    border: 0;
    width: 150px;
    background-color: rgb(190, 188, 188);
}

allMember:active {
    background-color: dodgerblue;
}

hr {
    border: 2px solid dodgerblue;
    margin-top: 0%;
    padding-top: 0%;
}

.borderShadow {
    box-shadow: 0px 2px lightgray;
}

.bShadow {
    box-shadow: 0px 3px dodgerblue;
}

.column3 {
    float: left;
    width: 17%;
    height: 580px;
    background-color: rgb(240, 240, 240);
    margin: 10px;
}

table {
    width: 100%;
}

nav {
    background-color: dodgerblue;
    height: auto;
    width: 100%;
}

img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.footer {
    background-color: lightslategrey;
    /* background-color: rgb(240, 240, 240); */
    text-decoration: none;
    margin-bottom: 20px;
}

button:hover {
    background-color: dodgerblue;
}